---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>August Agents | Contact</title>
    <meta
      name="description"
      content="Southern California's Manufacturers' Representative"
    />
    <link rel="icon" type="image/svg+xml" href="/assets/images/AA-Logo.svg" />
    <link rel="stylesheet" href="/assets/css/contact.css" />
  </head>
  <body>
    {% include navigation.html %}
    <main>
      <h1>Contact</h1>
      <div class="grid-wrapper">
        <div class="grid-container">
          <div class="grid-item">
            <p class="contact-name">Greg</p>
            <p class="contact-role">Principal - Sales</p>
            <p class="contact-location">OC, Central Valley</p>
            <a href="tel:+17148012768" class="number-link">
              <p class="contact-number">(714) 801-2768</p>
            </a>
            <a href="mailto:Greg@AugustAgents.com" class="email-link">
              <p class="contact-email">Greg@AugustAgents.com</p>
            </a>
          </div>

          <div class="grid-item">
            <p class="contact-name">Brad</p>
            <p class="contact-role">Principal - Sales</p>
            <p class="contact-location">San Diego, Riverside</p>
            <a href="tel:+19495127679" class="number-link">
              <p class="contact-number">(949) 512-7679</p>
            </a>
            <a href="mailto:Brad@AugustAgents.com" class="email-link">
              <p class="contact-email">Brad@AugustAgents.com</p>
            </a>
          </div>

          <div class="grid-item">
            <p class="contact-name">Jeff</p>
            <p class="contact-role">Outside Sales</p>
            <p class="contact-location">LA, Ventura, San Bernardino</p>
            <a href="tel:+18057955333" class="number-link">
              <p class="contact-number">(805) 795-5333</p>
            </a>
            <a href="mailto:Jeff@AugustAgents.com" class="email-link">
              <p class="contact-email">Jeff@AugustAgents.com</p>
            </a>
          </div>

          <div class="grid-item">
            <p class="contact-name">Mike</p>
            <p class="contact-role">Outside Sales</p>
            <p class="contact-location">LA, OC, Riverside</p>
            <a href="tel:+15626182174" class="number-link">
              <p class="contact-number">(562) 618-2174</p>
            </a>
            <a href="mailto:Mike@AugustAgents.com" class="email-link">
              <p class="contact-email">Mike@AugustAgents.com</p>
            </a>
          </div>
          <div class="grid-item">
            <p class="contact-name">Wendy</p>
            <p class="contact-role">Inside Sales</p>
            <p class="contact-location">CA, NV</p>
            <a href="tel:+16612128361" class="number-link">
              <p class="contact-number">(661) 212-8361</p>
            </a>
            <a href="mailto:Wendy@AugustAgents.com" class="email-link">
              <p class="contact-email">Wendy@AugustAgents.com</p>
            </a>
          </div>

          <div class="grid-item">
            <p class="contact-name">Quotes</p>
            <p class="contact-role">Info, Pricing, General Inquiries</p>
            <p class="contact-location hidden"></p>
            <p class="contact-number hidden"></p>
            <a href="mailto:Quotes@AugustAgents.com" class="email-link">
              <p class="contact-email">Quotes@AugustAgents.com</p>
            </a>
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
