---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>August Agents</title>
    <meta
      name="description"
      content="Southern California's Manufacturers' Representative"
    />
    <link rel="icon" type="image/svg+xml" href="/assets/images/AA-Logo.svg" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/modal.css" />
  </head>
  <body>
    {% include navigation.html %}
    <main>
      <div class="slogan-container">
        <h1>Southern California Manufacturers' Representative</h1>
      </div>
      <div class="cta-button-container">
        <button class="cta-button" id="scroll-button-electrical">
          Electrical Lines
        </button>
        <button class="cta-button" id="scroll-button-lighting">
          Lighting Lines
        </button>
        <button id="lineCardBtn" class="cta-button">Line Cards</button>
      </div>
      <div class="hero-img-container">
        <picture>
          <!-- Large image for desktops -->
          <source
            media="(min-width: 1024px)"
            srcset="/assets/images/AA-Illustration.png"
            alt="August Agents illustration"
          />
          <!-- Medium image for tablets -->
          <source
            media="(min-width: 500px) and (max-width: 1023px)"
            srcset="/assets/images/AA-Illustration-Tablet.png"
            alt="August Agents illustration"
          />
          <!-- Default small image for mobile phones -->
          <img
            src="/assets/images/AA-Illustration-Mobile.png"
            alt="August Agents illustration"
          />
        </picture>
      </div>

      <div class="category-headline" id="target-section-electrical">
        <h2>Electrical Lines</h2>
      </div>
      <div class="grid-wrapper">
        <div class="grid-container">
          <!-- Row 1 -->
          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://elitecomponents.com/" target="_blank">
                <img
                  src="assets/images/Elite-Components.png"
                  alt="Elite Components"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Electrical Fasteners, Plastic Boxes, Strut Accessories, Local
                  Strut & All Thread Inventory
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA, NV
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $500
                </p>

                <div class="us-made hidden">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://www.titan3.com/" target="_blank">
                <img
                  src="/assets/images/Titan-3-Technology.png"
                  alt="Titan 3 Technology"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  In-Use, Metallic/Non-Metallic Weatherproof Boxes, Wire Nuts
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA, NV
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $1000 / $2000
                </p>

                <div class="us-made hidden">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://patriotsas.com/" target="_blank">
                <img
                  src="/assets/images/patriotindustries.png"
                  alt="Patriot Industries"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Rigid Aluminum, Rigid Stainless Steel, GRC Elbows, Nipples,
                  Couplings, EMT Elbows
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA, NV
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> ADD
                </p>

                <div class="us-made">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 2 -->
          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://www.e-zweld.com/" target="_blank">
                <img
                  src="/assets/images/EZ-Weld.png"
                  alt="EZ Weld"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  PVC Conduit, Elbows, Solvents, and Cements
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA, NV
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> Weight Minimums
                </p>

                <div class="us-made hidden">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://www.plymouthrubber.com/" target="_blank">
                <img
                  src="/assets/images/Plymouth.png"
                  alt="Plymouth"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  C & I Electrical Tapes, Vinyl, Mastics, Rubber Tape
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA, NV
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $2500
                </p>

                <div class="us-made hidden">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://mulberrymetal.com/" target="_blank">
                <img
                  src="/assets/images/Mulberry.png"
                  alt="Mulberry Metals"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Wall Plates, Weatherproof Boxes, Steel Box Covers, Conduit
                  Bodies
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $1000
                </p>

                <div class="us-made">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Row 3 -->
          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://esafab.com/" target="_blank">
                <img
                  src="/assets/images/ESA-Fabrication.png"
                  alt="ESA Fabrication"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Material Handling, Carts, A Frames, Spool Handling
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> ADD
                </p>

                <div class="us-made">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://www.wihatools.com/" target="_blank">
                <img
                  src="/assets/images/Wiha.png"
                  alt="Wiha Tools"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Electrical Trade Tools, Insulated & Precision Tools, German
                  Made
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $750
                </p>

                <div class="us-made hidden">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://spikeelectric.com/" target="_blank">
                <img
                  src="/assets/images/Spike.png"
                  alt="Spike Electric Controls"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Expedited Gear OEM, Panels, Switchboards, MCC Buckets
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA, NV
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> ADD
                </p>

                <div class="us-made">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 4 -->
          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://www.hightolowvoltage.com/" target="_blank">
                <img
                  src="/assets/images/High-To-Low-Voltage.png"
                  alt="High to Low Voltage"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  New and Refurbished Transformers, Temporary Gear
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> ADD
                </p>

                <div class="us-made hidden">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a
                href="https://www.delta-therm.com/en-us/default.aspx"
                target="_blank"
              >
                <img
                  src="/assets/images/Delta-Therm.png"
                  alt="Delta Therm"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Engineered Heat Trace Solutions
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA, NV
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $2000
                </p>

                <div class="us-made">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a
                href="https://www.ouellet.com/en-us/default.aspx"
                target="_blank"
              >
                <img
                  src="/assets/images/Ouellet.png"
                  alt="Ouellet"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  In-Floor Heat, Wall Heaters, Patio Heaters
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $2000
                </p>

                <div class="us-made hidden">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="category-headline" id="target-section-lighting">
        <h2>Lighting Lines</h2>
      </div>
      <div class="grid-wrapper">
        <div class="grid-container">
          <!-- Row 1 -->
          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://www.xtralight.com/" target="_blank">
                <img
                  src="/assets/images/XtraLight.svg"
                  alt="Xtra Light"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Commercial Indoor & Outdoor Fixtures
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $2500
                </p>

                <div class="us-made">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://eco-revolution.com/" target="_blank">
                <img
                  src="/assets/images/Eco-Revolution.png"
                  alt="Eco Revolution Lighting"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Architectural Outdoor, Industrial & Local Pole Inventory
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA, NV
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $5000
                </p>

                <div class="us-made">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://www.lotusledlights.com/" target="_blank">
                <img
                  src="/assets/images/lotus-led-lights.svg"
                  alt="Lotus LED Lights"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  Specialty Recessed Lighting, Undercabinet,Tape, Fire Rated
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $1000
                </p>

                <div class="us-made hidden">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manufacturer-card">
            <div class="manufacturer-logo-container">
              <a href="https://eslvision.com/" target="_blank">
                <img
                  src="/assets/images/ESL-Vision.png"
                  alt="ESL Vision"
                  class="manufacturer-logo"
                />
              </a>
            </div>
            <div class="manufacturer-info-container">
              <div class="manufacturer-info">
                <p class="manufacturer-products">
                  LED Fixtures & Retrofits, Lamps, Drivers, Emergency
                </p>
                <p class="manufacturer-products-sub">
                  <strong>Territory:</strong>
                  CA
                </p>
              </div>
              <div class="freight-container">
                <p class="manufacturer-products-sub">
                  <strong>Freight:</strong> $500
                </p>

                <div class="us-made hidden">
                  <img src="/assets/images/us-made.png" class="us-made" />
                  <p class="card-p">US Made</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %} {% include lineCardModal.html %}
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/modal.js"></script>
  </body>
</html>
