<footer>
  <div class="footer-location">
    <img src="/assets/images/Map-Vector.svg" />
    <p class="location-text">
      Based out of
      <br />
      <strong> Irvine, California </strong>
    </p>
  </div>
  <div class="footer-contact">
    <p class="contact-text">
      <strong> Find Us: </strong>
    </p>
    <a href="https://www.linkedin.com/company/august-agents/">
      <img
        src="/assets/images/LinkedIn.svg"
        alt="LinkedIn"
        class="contact-social"
      />
    </a>
    <a href="https://www.nemra.org/">
      <img src="/assets/images/Nemra.png" alt="Nemra" class="contact-social" />
    </a>
  </div>
  <p class="copyright">© Copyright 2024 August Agents</p>
</footer>
