<header class="header">
  <div class="header-content">
    <div class="logo-hamburger-container">
      <a href="/" class="logo-container">
        <img src="/assets/images/AA-Logo-White.svg" alt="Logo" class="logo" />
      </a>
      <button class="hamburger" id="hamburger">
        &#9776;
        <!-- Hamburger Icon -->
      </button>
    </div>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/" class="nav-button-link">Home</a></li>
        <li>
          <a href="/about" class="nav-button-link">About</a>
        </li>
        <li>
          <a href="/contact" class="nav-button-link active">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="sidebar-overlay" id="sidebar-overlay"></div>

<div class="sidebar">
  <div class="logo-container-menu">
    <img src="/assets/images/AA-Logo.svg" class="sidebar-logo" />
  </div>
  <a href="/" class="menu-item-link">
    <button class="menu-item">Home</button>
  </a>
  <a href="/about" class="menu-item-link">
    <button class="menu-item">About</button>
  </a>
  <a href="/contact" class="menu-item-link">
    <button class="menu-item">Contact</button>
  </a>
</div>
