body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.nav-button-link {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #1F1F1F;
}

p {
  margin: 0;
}

h1 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 3em;
  padding: 0 10vw;
  color: #1F1F1F;
}

h2 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #1F1F1F;
}

.about-description {
  margin: 0 0 0 10vw;
  padding-right: 0vw;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
}

.header {
  position: relative;
  width: 100%;
  background-image: url('/assets/images/Top-Banner-AA.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 171px;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  z-index: 2;
}

.logo {
  width: 11vw;
}

.hamburger {
  color: #1F1F1F;
  display: block;
  position: absolute;
  left: 22px;
  font-size: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #333;
}

.sidebar {
  position: fixed;
  left: -280px;
  top: 0;
  width: 280px;
  height: 100vh;
  background: #ffffff;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  z-index: 2;
}

.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.logo-container-menu {
  min-height: 126px;
  border-bottom: 2px solid #E7E7E7;
  margin-bottom: 32px;
}

.sidebar-logo, .logo-menu { 
  width: 114px;
}

.menu-item-link {
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-item {
  padding: 20px 20px;
  border: none;
  background: none;
  text-align: left;
  font-size: 1.3em;
  color: #1F1F1F;
  cursor: pointer;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.menu-item:hover {
  color: #4b95d6;
}

.menu-item:active {
  color: #195C96;
}

.navbar {
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #1F1F1F;
  padding: 10px;
}

.nav-links a.active {
  text-decoration: none;
  color: #195C96;
  padding: 10px;
}

.nav-links a:hover {
  color: #599DD9;
}

.manufacturer-products-sub, .location-text {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  width: 100%;
  margin: 0;
}
.card-p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-left: 6px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 10vw;
}

.grid-item {
  background-color: transparent;
  text-align: left;
  padding: 20px 0;
  margin-right: 0;
  width: auto;
}

.contact-name {
  font-weight: bold;
  font-size: 1.2em;
}

.contact-name, .contact-role, .contact-location, .contact-email, .contact-number {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 2%;
  width: fit-content;
}

.contact-email, .contact-number {
  color: #195C96;
  font-weight: bold;
}

.contact-email:hover, .contact-number:hover {
  color: #195C96;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.contact-email:active, .contact-number:active {
  opacity: 0.6;
}

.number-link, .email-link {
  text-decoration: none;
  
}

.footer-location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh 0 0 10vw;
}

.location-text {
  margin-left: 12px;
}

.footer-contact {
  display: flex;
  align-items: center;
  margin: 3vh 0 0 10vw;
}

.contact-text {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

.contact-social {
  margin-left: 12px;
}

.contact-social:hover {
  opacity: 0.8;
}

.contact-social:active {
  opacity: 0.6;
}

.copyright {
  display: flex;
  align-items: center;
  margin: 4vh 0 3vh 10vw;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

.logo-container {
  display: inline-block;
  line-height: 0;
  height: auto;
  width: auto;
}

@media (min-width: 1024px) {
.hamburger, .sidebar, .sidebar-overlay {
  display: none;
}
}

@media only screen and (max-width: 768px) {
h1 {
  font-size: 2.2em;
  text-align: left;
  margin: 0;
  padding: 2vh 5vw;
}

.grid-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 5vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-content: center;
  padding: 0;
}

.grid-item {
  background-color: transparent;
  padding: 20px 0;
  margin-right: 0;
  border-bottom: 1px solid #E7E7E7;
}

.grid-item p {
  text-align: center;
}

.contact-name, .contact-role, .contact-location, .contact-email, .contact-number {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 2%;
  width: fit-content;
}

.header {
  position: relative;
  width: 100%;
  background-image: url('/assets/images/Top-Banner-AA-Mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 167px;
}

.header-content {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 22px;
}

.logo-hamburger-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: auto;
}

.nav-links {
  display: none;
}

.logo {
  width: 50vw;
  max-width: 150px;
}

.hamburger {
  display: block;
  position: absolute;
  left: 5vw;
  font-size: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.nav-links li {
  margin: 10px 0;
}

.hidden-mobile {
  display: none;
}

.footer-location {
  margin: 3vh 5vw 1vh;
}

.footer-contact {
  margin: 0 5vw;
}

.contact-social {
  margin: 5px;
}

.copyright {
  margin: 3vh 5vw;
}
}

@media (min-width: 768px) and (max-width: 800px) {
.footer-location {
  margin: 3vh 5vw 1vh;
}

.footer-contact {
  margin: 0 5vw;
}

.contact-social {
  margin: 5px;
}

.copyright {
  margin: 3vh 8vw;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.header {
  position: relative;
  width: 100%;
  background-image: url('/assets/images/Top-Banner-AA.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 167px;
}

.header-content {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 22px;
}

.logo {
  width: 20vw;
}

.nav-links {
  display: none;
}

.logo-hamburger-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: block;
  position: absolute;
  left: 22px;
  font-size: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: auto;
}

.logo-container img {
  max-width: 50vw;
}

h1 {
  text-align: left;
}
}